@font-face {
  font-family: MontserratBold;
  src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: MontserratRegular;
  src: url(fonts/Montserrat-Regular.ttf);
}

body {
	font-family: MontserratRegular;
	text-decoration: none;
	color: #000;
	list-style: none;
}

ul, li {
	list-style: none;
}

a {
	cursor: pointer;
}


/*---------HEADER--------*/

.Top {
    margin-left: 135px;
}

/*---------Notification--------*/

#notification {
	background: #F2F2F2;
	height: 20px;
	position: relative;
}

#notification div {
	color: #ff6666;
	text-align: center;
	font-size: 6px;
	letter-spacing: 1px;
}

#notification .Close button {
	border: none;
	background: #F2F2F2;
	color: #ff6666;
	font-size: 8px;
	letter-spacing: 1px;
	float: right;
	padding: 0 10px 0 0;
	margin-top: -20px;
}

/*---------END Notification--------*/

/*---------topBar--------*/

#topBar {
	position: relative;
	margin-top: 10px;
}

#topBar ul li {
	font-size: 9px;
}

#topBar ul li a {
	color: #7f7f7f;
	border-right: solid 01px #7f7f7f;
    padding-right: 10px;
}

#topBar ul li a i {
	color: #70a53f;
	margin-right: 3px;
}

#topBar ul .Help, #topBar ul .CreateAccount {
	margin-left: -75px;
}

#topBar ul .Help a, #topBar ul .SignIn a {
	border: none;
}

#topBar .fa-caret-down {
	color: #7f7f7f;
}

#topBar .Compare, .Checkout {
	display: none;
}

#topBar .Language a {
	border-right: solid 01px #7f7f7f;
    padding-right: 10px;
}

.Language {
    margin-left: 435px;
}

.Currency {
    margin-left: -85px;
}

.Language img {
	width: 15px;
}

.Account {
    margin-left: -100px;
}

.SignIn {
    margin-left: -45px;
}

/*---------END topBar--------*/

.LogoSearchHotLine {
    margin-top: 60px;
}

/*---------Logotype--------*/

#logo img {
    padding-left: 25px;
    float: left;
    position: relative;
}

/*---------END Logotype--------*/

/*---------search--------*/

#search {
	margin-top: 5px;
	margin-left: 134px;
}

#search input {
    border: solid 2px #70a53f;
    border-radius: inherit;
    float: left;
    margin-left: 25px;
    font-size: 10px;
}

#search button {
	background: #70a53f;
    border: none;
    height: 32px;
    margin: 0;
    float: left;
}

#search i {
	color: #FFF;
}

#search button:hover {
	background: #689a3c;
}

/*---------END search--------*/

/*---------hotLine--------*/

#hotLine {
    margin-left: 134px;
    width: 100px;
}

#hotLine .Phone {
	font-family: MontserratBold;
	color: #7f7f7f;
	font-size: 11px;
	letter-spacing: 1px;
}

#hotLine .Email {
	color: #7f7f7f;
	font-size: 9.5px;
	letter-spacing: 0.7px;
}

#hotLine i {
	float: left;
    color: #70a53f;
    border: 1px dotted;
    padding: 10px;
    border-radius: 50%;
    margin: -40px 0px 0 105px;
}

#hotLine i:hover {
	color: #FFF;
	background: #70a53f;
	border: solid 1px;
}

/*---------END hotLine--------*/

/*---------tagHot--------*/

#tagHot {
    margin: 10px 0 0 175px;
	position: absolute;
}

#tagHot img {
	width: 45%;
}

/*---------END tagHot--------*/

/*---------Menu--------*/

#menu {
	position: relative;
    margin-left: -30px;
	margin-top: 25px;
}

#menu ul li {
	float: left;
	margin-left: 0;
}

#menu ul li a {
	color: #000;
	font-size: 10.5px;
}

#menu .Home {
	margin-left: 35px;
}

#menu .MegaMenu, #menu .Blog, #menu .Lookbook {
    margin-left: -90px;
}

#menu .Shop, #menu .BuyTheme {
    margin-left: -55px;
}

#menu .Pages {
    margin-left: -95px;
}

#menu .Shortcode {
    margin-left: -65px;
}

#menu .BuyTheme a {
	text-decoration: underline;
	color: #ff6666;
}

/*---------END Menu--------*/

/*---------rightSide--------*/

#rightSide {
	float: right;
	margin-right: 20px;
}

#rightSide .Bag, #rightSide .Bag i {
	float: left;
    margin-right: 10px;
}

#rightSide .Nb {
	float: left;
    border-radius: 50%;
    padding: 0px 5px;
    margin-top: -3px;

}

#rightSide .Nb.bag {
	border: #70a53f solid 1px;
	background: #70a53f;
	color: #FFF;
    margin-right: 10px;
}

#rightSide .Price {
	float: left;
	border-right: solid 1px #7f7f7f;
	padding-right: 10px;
}

#rightSide .WishList {
	float: right;
}

#rightSide .WishList i {
	float: left;
    margin-right: 10px;
}

#rightSide .Nb.wish {
	border: #ff6666 solid 1px;
	background: #ff6666;
	color: #FFF;
}

/*---------END rightSide--------*/

/*---------END HEADER--------*/

/*---------CONTAINER--------*/

/*---------TitlePage--------*/

.TitlePage {
	background: #F2F2F2;
	margin-left: 0px;
	margin-top: 10px;
}

.TitlePage h1 {
	font-family: MontserratBold;
    font-size: 23px;
}

#pagePath {
	float: right;
    margin-right: 20px;
    margin-top: 20px;
	font-size: 12px;
}

.PagePath a {
	color: #000;
}

.PagePath.active a {
	color: #689a3c;
}

#pagePath .PagePath, #pagePath i {
	float: left;
	margin-left: 10px;
}

#pagePath i {
	margin-top: 3px;
}

/*---------END TitlePage--------*/

/*---------Register--------*/

.Register {
	border: 0.5px solid #999999;
    height: 400px;
    float: right;
    margin-top: -160px;
    position: relative;
}

.Register h1 {
	font-family: MontserratBold;
	font-size: 23px;
	text-align: center;
    margin: 40px 0 0 0;
}

.Register .Text {
	font-size: 12px;
	color: #999999;
	text-align: center;
    line-height: 23px;
    margin-left: 55px;
	margin-top: 25px;
}

.Register button {
    margin-left: 230px;
    margin-top: 25px;
    background: #000;
    color: #FFF;
    border: 1px #000 solid;
    font-size: 11px;
    width: 120px;
    padding: 10px 0; 
}

.Register button:hover {
	background: #689a3c;
	border: 1px #689a3c solid;
}

/*---------END Register--------*/

/*---------CreateNewAccount--------*/

.CreateNewAccount h1 {
	font-size: 20px;
}

/*---------END CreateNewAccount--------*/

/*---------END CONTAINER--------*/