@font-face {
  font-family: MontserratBold;
  src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: MontserratRegular;
  src: url(fonts/Montserrat-Regular.ttf);
}

body {
	font-family: MontserratRegular;
	text-decoration: none;
	color: #999;
	list-style: none;
}

ul, li {
	list-style: none;
}

a {
	cursor: pointer;
}


/*---------HEADER--------*/

.Top {
    margin-left: 135px;
}

/*---------Notification--------*/

#notification {
	background: #F2F2F2;
	height: 20px;
	position: relative;
}

#notification div {
	color: #ff6666;
	text-align: center;
	font-size: 6px;
	letter-spacing: 1px;
}

#notification .Close button {
	border: none;
	background: #F2F2F2;
	color: #ff6666;
	font-size: 8px;
	letter-spacing: 1px;
	float: right;
	padding: 0 10px 0 0;
	margin-top: -20px;
}

.Closed {
	display: none;
}

/*---------END Notification--------*/

/*---------topBar--------*/

#topBar {
	position: relative;
	margin-top: 10px;
}

#topBar ul li {
	font-size: 9px;
}

#topBar ul li a {
	color: #7f7f7f;
	border-right: solid 01px #7f7f7f;
    padding-right: 10px;
}

#topBar ul li a i {
	color: #70a53f;
	margin-right: 3px;
}

#topBar ul .Help, #topBar ul .CreateAccount {
	margin-left: -75px;
}

#topBar ul .Help a, #topBar ul .SignIn a {
	border: none;
}

#topBar .fa-caret-down {
	color: #7f7f7f;
}

#topBar .Compare, .Checkout {
	display: none;
}

#topBar .Language a {
	border-right: solid 01px #7f7f7f;
    padding-right: 10px;
}

.Language {
    margin-left: 435px;
}

.Currency {
    margin-left: -85px;
}

.Language img {
	width: 15px;
}

.Account {
    margin-left: -100px;
}

.SignIn {
    margin-left: -45px;
}

/*---------END topBar--------*/

.LogoSearchHotLine {
    margin-top: 60px;
}

/*---------Logotype--------*/

#logo img {
    padding-left: 25px;
    float: left;
    position: relative;
}

/*---------END Logotype--------*/

/*---------search--------*/

#search {
	margin-top: 5px;
	margin-left: 134px;
}

#search input {
    border: solid 2px #70a53f;
    border-radius: inherit;
    float: left;
    margin-left: 25px;
    font-size: 10px;
}

#search button {
	background: #70a53f;
    border: none;
    height: 32px;
    margin: 0;
    float: left;
}

#search i {
	color: #FFF;
}

#search button:hover {
	background: #689a3c;
}

/*---------END search--------*/

/*---------hotLine--------*/

#hotLine {
    margin-left: 134px;
    width: 100px;
}

#hotLine .Phone {
	font-family: MontserratBold;
	color: #7f7f7f;
	font-size: 11px;
	letter-spacing: 1px;
}

#hotLine .Email {
	color: #7f7f7f;
	font-size: 9.5px;
	letter-spacing: 0.7px;
}

#hotLine i {
	float: left;
    color: #70a53f;
    border: 1px dotted;
    padding: 10px;
    border-radius: 50%;
    margin: -40px 0px 0 105px;
}

#hotLine i:hover {
	color: #FFF;
	background: #70a53f;
	border: solid 1px;
}

/*---------END hotLine--------*/

/*---------tagHot--------*/

#tagHot {
    margin: 10px 0 0 175px;
	position: absolute;
}

#tagHot img {
	width: 45%;
}

/*---------END tagHot--------*/

/*---------Menu--------*/

#menu {
	position: relative;
    margin-left: -30px;
	margin-top: 25px;
}

#menu ul li {
	float: left;
	margin-left: 0;
}

#menu ul li a {
	color: #000;
	font-size: 10.5px;
}

#menu .Home {
	margin-left: 35px;
}

#menu .MegaMenu, #menu .Blog, #menu .Lookbook {
    margin-left: -90px;
}

#menu .Shop, #menu .BuyTheme {
    margin-left: -55px;
}

#menu .Pages {
    margin-left: -95px;
}

#menu .Shortcode {
    margin-left: -65px;
}

#menu .BuyTheme a {
	text-decoration: underline;
	color: #ff6666;
}

/*---------END Menu--------*/

/*---------rightSide--------*/

#rightSide {
	float: right;
	margin-right: 20px;
	color: #000;
}

#rightSide .Bag, #rightSide .Bag i {
	float: left;
    margin-right: 10px;
}

#rightSide .Nb {
	float: left;
    border-radius: 50%;
    padding: 0px 5px;
    margin-top: -3px;

}

#rightSide .Nb.bag {
	border: #70a53f solid 1px;
	background: #70a53f;
	color: #FFF;
    margin-right: 10px;
}

#rightSide .Price {
	float: left;
	border-right: solid 1px #7f7f7f;
	padding-right: 10px;
}

#rightSide .WishList {
	float: right;
}

#rightSide .WishList i {
	float: left;
    margin-right: 10px;
}

#rightSide .Nb.wish {
	border: #ff6666 solid 1px;
	background: #ff6666;
	color: #FFF;
}

/*---------END rightSide--------*/

/*---------END HEADER--------*/

/*---------TitlePage--------*/

.TitlePage {
    background: #F2F2F2;
    margin-left: 0px;
    width: 100%;
    position: absolute;
    margin-top: 200px;
    color: #000;
}

.TitlePage h1 {
	font-family: MontserratBold;
    font-size: 23px;
    margin-left: 160px;
}

#pagePath {
	float: right;
    margin-right: 155px;
    margin-top: 20px;
	font-size: 12px;
}

.PagePath a {
	color: #000;
}

.PagePath.active a {
	color: #689a3c;
}

#pagePath .PagePath, #pagePath i {
	float: left;
	margin-left: 10px;
}

#pagePath i {
	margin-top: 3px;
}

/*---------END TitlePage--------*/

/*---------CONTAINER--------*/

/*---------Register--------*/

.Register {
	border: 0.5px solid #999999;
    height: 400px;
    float: right;
	margin-top: -552px;
	margin-right: 20px;
    position: relative;
    width: 47%;
}

.Register h1 {
	font-family: MontserratBold;
	font-size: 23px;
	text-align: center;
    margin: 40px 0 0 0;
    width: 100%;
    color: #000;
}

.Register .Text {
	font-size: 12px;
	color: #999999;
	text-align: center;
    line-height: 23px;
    margin: 25px 40px;
}

.Register button {
    margin: 25px 215px;
    background: #000;
    color: #FFF;
    border: 1px #000 solid;
    font-size: 11px;
    width: 120px;
    padding: 10px 0; 
}

.Register button:hover {
	background: #689a3c;
	border: 1px #689a3c solid;
}

/*---------END Register--------*/

/*---------CreateNewAccount--------*/

.CreateNewAccount {
	height: 550px;
	border: 0.5px solid #999999;
    margin-top: 120px;
	margin-left: 20px;
    width: 47%;
}

.CreateNewAccount h1 {
	font-size: 20px;
    margin: 25px 34px;
    color: #000;
}

.CreateNewAccount button {
    background: #000;
    color: #FFF;
    border: 1px #000 solid;
    font-size: 11px;
    width: 120px;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: 34px;
    float: left;
}

.CreateNewAccount input {
    box-shadow: none;
    background: #f2f2f2;
    border: none;
    border-radius: 0;
    height: 40px;
    font-size: 12px;
    padding-left: 20px;
    margin: 10px 34px;
}

.CreateNewAccount button:hover {
	background: #689a3c;
	border: 1px #689a3c solid;
}

.Active {
	color: #689a3c;
}

.CreateNewAccount .Subscribe {
	font-size: 12px;
	margin-top: 20px;
	cursor: pointer;
}

.CreateNewAccount .Subscribe i {
	float: left;
	margin-top: 5px;
}

.CreateNewAccount .Subscribe div {
	float: left;
	margin-left: 5px;
}

/*---------END CreateNewAccount--------*/

/*---------END CONTAINER--------*/

/*---------FOOTER--------*/

footer {
	background: #171717;
	margin-top: 100px;
}

/*---------ForCustomer--------*/

.ForCustomer {
	padding: 0 220px;
	border-bottom: 1px solid #999;
	height: 150px;
}

.ForCustomer .Customer {
	width: 200px;
	border-right: 1px solid #999; 
	padding-right: 10px;
	margin-top: 40px;
}

.ForCustomer .Customer.Support {
	padding-right: 30px;
}

.ForCustomer .Customer.Promo {
	padding-right: 0;
	border: none;
}

.ForCustomer .Customer img {
	width: 15%;
	float: left;
    margin: 20px 20px 0px 0px;
}

.ForCustomer .Customer h3 {
	font-family: MontserratBold;
	font-size: 12px;
	color: #FFF;
	float: left;
	margin-bottom: 0;
}

.ForCustomer .Customer .SousTitre {
	font-size: 10px;
	color: #7f7f7f;
	float: left;
	margin-top: -10px;
    margin-left: 50px;
}

/*---------END ForCustomer--------*/

/*---------Sitemap--------*/

.Sitemap {
	margin: 50px 85px 50px 85px;
	border-bottom: 1px #999 solid;
	float: left;
}

.Sitemap ul h3 {
	color: #FFF;
	font-family: MontserratBold;
	font-size: 12px;
}
.Sitemap li {
	margin-bottom: 10px;
}

.Sitemap li, .Sitemap i {
	color: #999;
	font-size: 10px;
}

.Sitemap .About i, .Sitemap .About li {
	float: left;
}

.Sitemap .About .fa-phone, .Sitemap .About .fa-envelope-o, .Sitemap .About .fa-map-marker {
	float: left;
	margin-top: 4px;
}

.Sitemap .Social i {
    border: 1px #343434 solid;
    background: #343434;
    border-radius: 50%;
    margin-right: 5px;
}

.fa-pinterest, .fa-twitter, .fa-instagram {
    padding: 5px 6px;
}

.fa-facebook {
    padding: 5px 7px;
}

.fa-google-plus {
    padding: 5px 4px;
}

.fa-youtube-play {
    padding: 5px 5px;	
}

.Sitemap li a {
	color: #999;
	font-size: 10px;
}

.Sitemap .About .TextCoordonneePhoneUn {
	margin-left: 15px;
	float: left;
}

.Sitemap .About .TextCoordonneePhone {
	margin-left: 23px;
	float: left;
}

.Sitemap .About .TextCoordonneeEmail {
	margin-left: 14px;
	float: left;
}

.Sitemap .About .TextCoordonneeAddress {
	margin-left: 17px;
	float: left;
}


/*---------END Sitemap--------*/

/*---------OnTop--------*/

.OnTop {
	width: 75px;
	float: right;
	position: absolute;
	margin: -27% 0 0px 89%;
}

.OnTop a {
	color: #999;
	font-size: 12px;
	text-decoration: none;
}

.OnTop a i {
	float: left;
    border: 1px solid;
	padding: 10px 12.5px;
	margin-right: 5px;
}

.OnTop a div {
    font-size: 10px;
    line-height: 1;
    margin-top: 10px;
}

.OnTop a:hover i {
	background: #70a53f;
	color: #FFF;
	border: 1px solid #70a53f;
}

.OnTop a:hover div {
	color: #70a53f;
}

/*---------END OnTop--------*/

/*---------Newsletter--------*/

.Newsletter div {
	font-size: 13px;
	color: #999;
	margin-left: 85px;
}

strong {
	color: #FFF;
}

p {
	color: #70a53f;
	float: left;
	margin-right: 4px;
}

.Newsletter form {
	float: right;
	margin: -10px 85px 20px 0px;
}

.Newsletter input {
	background: #343434;
    border: 1px solid #343434;
    border-radius: 0;
    height: 32px;
	float: left;
	font-size: 10px;
    padding-left: 20px;
    width: 270px;
}

.Newsletter button {
    background: #70a53f;
    border: 1px solid #70a53f;
    color: #FFF;
    font-size: 11px;
    padding: 10px 33px;
    float: left;
}

/*---------END Newsletter--------*/

/*---------Bottom--------*/

.Bottom {
	background: #0e0e0e;
	height: 50px;
}

.Copyright {
	color: #999;
	font-size: 10px;
	float: left;
	margin-left: 30px;
    margin: 15px 220px;
}

.Bottom div img {
	float: right;
    margin: 15px 220px 0 0;
}

/*---------END Bottom--------*/

/*---------END FOOTER--------*/